.userReports{
    width: 100%;
    min-height: 100vh;
    background-image: url(https://img.freepik.com/free-vector/stylish-white-background-with-diagonal-lines_1017-33199.jpg);
    background-size: cover;
    background-repeat:repeat;
}

.URtitle{
    padding-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(29, 49, 228);
}
.reports{
    width: 100%;
    display: grid;
    grid-template-columns: 160px 160px 160px;
    border-radius: 15px;
    background-image: url(https://img.freepik.com/free-photo/detailed-grunge-background-shades-grey-black_1048-11892.jpg?w=2000);
    background-size: cover;
    padding-top: 15px;
}
.report1>p,.report2>p,.report3>p{
    font-size: small;
    font-weight: bold;
    text-align: center;
    padding-left: 50px;
}
.toReports,.woReports,.dbRecord{
    background-color: white;
    cursor: pointer;
    }
.toReports:hover,.woReports:hover,.dbRecord:hover{
background-color: rgba(16, 89, 184, 0.712);
background-color: white;
cursor: pointer;
}

